---
---

$color-gray: #ccc;
$color-dark-gray: #34313a;
$blue: rgb(73,161, 224);

html,
body {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    background: #1e1e20; /* Old browsers */
background: -moz-linear-gradient(top, #1e1e20 0%, #4a4a4a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e1e20 0%,#4a4a4a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e1e20 0%,#4a4a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', 'Monaco', 'Monospace';
    -webkit-font-smoothing: antialiased;
}


.mac-badge {
    display:inline-block;
    overflow:hidden;
    background:url('/images/Download_on_the_Mac_App_Store_Badge_US-UK_165x40.svg') no-repeat;
    width:165px;
    height:40px;
}
.Footer {
    margin: 0 0 60px;
    font-size: 1.4rem;
    color: $color-gray;
    text-align: center;
    a {
        color: $color-gray;
    }
}

.Nav {
    max-width: 340px;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    margin: 0 auto 40px;
    a {
        color: $color-gray;
        font-size: 1.4rem;
    }
}

.index {
    max-width: 1100px;
    margin: 0 auto;
    .logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: 30px auto 0;
    }
    h1 {
        font-size: 5rem;
        text-align: center;
        font-weight: normal;
        color: white;
        margin-bottom: 20px;
        span {
            font-size: 1.4rem;
            background-color: #53B5FA;
            color: white;
            padding: 0px 6px;
            border-radius: 4px;
            position: absolute;
            transform: translateX(20px);
        }
    }
    .subtitle {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin: 0 0 60px;
    }
    .version-require {
        text-align: center;
        font-size: 1.4rem;
        color: $color-gray;
    }
    .store-buttons {
        display: flex;
        justify-content: center;
        width: 400px;
        margin: 0 auto;
    }
    .store-link {
        display: inline-block;
        padding: 10px 18px;
        background-color: $blue;
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        border-radius: 2px;
        &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
        }
    }
    .other-download {
        text-align: center;
        font-size: 1.4rem;
        margin: 20px 0;
        a {
            color: $color-gray;
        }
    }
    .gallery {
        margin: 60px 0 0;
        display: flex;
        justify-content: center;
        img {
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 290px;
            border-radius: 4px;
            box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
        }
    }
    h2 {
        text-align: center;
        color: $color-gray;
        margin-bottom: 60px;
        font-weight: normal;
    }

}

.Posts {
    max-width: 800px;
    margin: 0 auto;
    .post {}
}

.Page,
.Post {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        font-size: 4rem;
        color: white;
    }
    .entry {
        color: $color-gray;
        font-size: 1.4rem;
    }
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

textarea.form-control {
    height: auto;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.report-link {
    display: flex;
    justify-content: center;
    padding: 10px 18px;
    background-color: $blue;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 2px;
    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    }
}

@import "highlights";
